*{
  padding: 0;
  margin: 0;
}

header,section,footer{
  background-color: #d6ccc2;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background-color: purple;
  border-radius: 8px;
  text-align: center;
  margin: 0 0;
}

.item {
  display: flex;
  align-items: center;
  margin: 0 0;    
}

.circle {
  margin-right: 10px; 
  color: white; 
}


header{
  background-color: #231c1a;
  height: 80px;
  width: 100%;
  position: fixed;
}

.title{
  font-size: 24;
  color: white;
  position: absolute;
  top: 0;
  left: 120px;
  line-height: 80px;
  background-image: url(img/Circle-logo.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto 60px;
  width: auto;
  text-indent: 80px;
}

header a{
  color: white;
  text-decoration: none;
}

header a:hover{
  text-decoration: underline;
}

header li{
  display: inline;
  margin-right: 4vw;
}

header ul{
  position: absolute;
  right: 5vw;
  top: 0;
  line-height: 80px;
}


.news{
  background-color: antiquewhite;
  color: white;
  background-image: url(img/BackImg.jpg);
  height: 105vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: lighten;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news h2{
  font-size: 60px;
  margin-top: 60px;
}

.news p{
  color: #FEF76E;
  font-size: 20px;
  margin: 25px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news a{
  /* background-color: lightblue; */
  color: white;
  text-decoration: none;
  border: 1px solid #ACACAC;
  border-radius: 5%;
  padding: 10px 20px;
}

.news a:hover{
  text-decoration: underline;
}

.slogan{
  background-color: #485654;
  color: white;
  font-size: 25px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.8em;
}

.WelcomeFooter{
  background-color: #000000;
  color: #B7B7B7;
  font-size: 14px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}

.Intruduction{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Intruduction img{
  width: 50%;
}

.Info{
  width: 50%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1.8em;
}